*{
    font-family: sans-serif;
}

.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(187, 216, 240);
    margin: 10px 10px;
}
.container{
    display: flex;
    justify-content: space-evenly;
    
    align-items: stretch;
    text-align: center;


}
.container-tarefa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30%;
    background-color: rgb(168, 245, 0);
    width: 280px;
    height: 150px;
}

.container-tarefa p{
    font-size: 20px;
    color: rgb(57, 59, 2);
}

.string{
    display: flex;
    justify-content: stretch;
    font-family: 'Courier New';
}


.addBtn {
    padding: 10px;
    margin-top: 5px;
    width: 25%;
    background: #d2f1b3;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }


  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 20px;
  }

ul {
    margin: 5px;
    padding: 5px;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: rgb(238, 238, 238);
    font-size: 20;
    transition: 0.4s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* setando o conteúdo do li */
  ul li:nth-child(odd) {
    background: #7fe31b;
  }
  
  /* quando passar o mouse */
  ul li:hover {
    background: rgb(177, 255, 150);
  }
  
  /* quando selecionado */
  ul li.checked {
    background: #888;
    opacity: 0.4;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* adicionando a classe checked */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(0, 255, 0);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style the close button */
.close {
  position: relative;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin-left: 5px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

lista {
  width: 100px;
  height: 100px;
}

.Listaprod{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20%;
  min-height: 20px;

  
}

.Listaprod li{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.info {
  font-size: 20px;
}